#reviewers{
    width: 80%;
    margin: 0 auto;
}

#reviewers > .review > *{
    width: 100%;
}

#reviewers > .review p.review.reviewer{
    background-color: rgb(106, 90, 140);
    margin: 0px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#reviewers > .review textarea.review.comment{
    font-size: 30px;
    border-top: 0px;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
    padding-top: 30px;
    text-align: center;
    height: 150px;
    resize: none;
}


#reviewers > .review textarea.student{
   border-left: 20px green solid;
}

#reviewers > .review textarea.assistant{
   border-left: 20px deepskyblue solid;
}

