body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
<<<<<<< HEAD


li{
  list-style-type: none;
}

input[type='submit'], input[type='button']{
  cursor: pointer;
}


/* sidebar */
#sidebar{
  position: relative;
  top: 0px;
  background-color: rgb(30, 35, 39);
  width: 100%;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#sidebar a{
  cursor: pointer;
  margin-left: 5%;
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

#sidebar a:hover{
  color: white;
}

#sidebar form{
  width: 20%;
  margin-left: 5%;
  display: inline-block;
}

#sidebar form input{
  height: 40px;
  width: 30%;
}

.homeworkName{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: red;
}

=======
>>>>>>> c4bbf5006d05c2d568ef4be17a13670c16d10f19
