body{
    background-color: rgb(245, 245, 245);
}


#panel > div{
    display: inline-block;
    background-color: white;
    height: 300px;
    margin-top: 3%;
    margin-left: 3%;
    border-bottom: 10px solid rgb(249, 249, 249);
    width: 20%;
    vertical-align: top;
}

#panel > div > h2{
    color: rgb(128, 128, 128);
    text-align: center;
}

#panel > div  input{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 10%;
}

#panel > div .submitButton{
    height: 15%;
}

#panel > #makeHomework{
    height: 400px;
}

#panel > #makeHomework input{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 7%;
}

#panel > #makeHomework #makeHomeworkSubmit{
    height: 10%;
}

#panel > #makeHomework textarea{
    margin-top: 3%;
    margin-left: 15%;
    width: 70%;
    resize: none;
}

#panel > div .submitButton, #panel > div #makeHomeworkSubmit{
    cursor: pointer
}



