- var userRouterUrl = '/user'

head
    link(rel = 'stylesheet' href = '/stylesheets/administorIndex.css')

body
    h1= 'hello! ' + user.name
    form(action= userRouterUrl + '/logout', method='POST')
        input(type='submit' value='登出')
    form#addUser
        input(name = 'id' placeholder = 'id')
        input(name = 'name' placeholder = 'name')
        input(name = 'password', type = 'password', placeholder = 'password')
        input(name = 'email', placeholder = 'email,可为空')
        input(name = 'grade' placeholder = 'webClass grade')
        input(name = 'number' placeholder = 'webClass number')
        input(name = 'identity' placeholder = 'identity')
        input.submitButton(type = 'button' value = '增加用户')
    button#deleteUser 删除用户
    form#addClass 增加班级
        input(name = 'grade' placeholder = 'webClass grade')
        input(name = 'number' placeholder = 'webClass number')
        input.submitButton(type = 'button' value = '增加班级')
    button#deleteClass 删除班级
    button#assignJob 赋予用户权限
    include includes/cdn
    script(src = '/javascripts/userValidator.js')
    script(src = '/javascripts/administorIndex.js')