
head
  link(rel='stylesheet', href='/stylesheets/login.css')
body
  form#loginPanel
    input(name = 'id')
    input(type = 'password', name = 'password')
    input#login(type = 'button' value = '登录')

  include includes/cdn
  script(src='/javascripts/login.js')

