
head
  link(rel = 'stylesheet' href = '/stylesheets/topcoat-light.css')
  link(rel='stylesheet', href='/stylesheets/login.css')
body
  form#loginPanel
    input(name = 'id')
    input(type = 'password', name = 'password')
    input#login(type = 'button' value = '登录')

  include includes/cdn
  script(src='/javascripts/login.js')

<<<<<<< HEAD
    .footer
        input.topcoat-text-input(name = 'id', placeholder="account id")
        input.topcoat-text-input(name = 'password', type='password', placeholder="password")
        button.topcoat-button--large--cta(type='button')#login= '登录！'
  script(src = 'http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
  script(src = '/javascripts/login.js')
=======
>>>>>>> c4bbf5006d05c2d568ef4be17a13670c16d10f19
