doctype html
- var studentRouterUrl = '/student'
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#sidebar
      a(href='/students/index')= '主页'
      a(href='/students/profile')= '个人设置'
      form(action='/user/logout', method='POST')
          input(type='submit' value='登出')
    block content
