doctype html
- var teacherRouterUrl = '/teacher';
- var identityRouterUrl = '/teacher';
html
  head
    title= title
    include includes/cdn
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src = '/javascripts/style.js')
  body
    div#sidebar
      a(href='/teacher/index')= '主页'
      a(href='/teacher/profile')= '个人设置'
      form.logout(action='/user/logout', method='POST')
          a.logout= '登出'
    block content
